#main-div{
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}
#display{
  margin: 10px;
  width: 85%;
  /* height: 30px; */
}
#button-div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons{
  width: 50px;
  height: 40px;
  margin: 2px;
}